.gallery{
    display: grid;
    grid-template-columns: repeat(8, 10%);
    grid-template-rows: repeat(17, 3%);
    grid-gap: 2.7%;
    object-fit: contain;

}


.item-1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    

}

.item-2{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;

}

.item-3{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;

}

.item-4{
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;

}

.item-5{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 7;

}

.item-13{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 14;
    grid-row-end: 17;

}

.item-6{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 14;
    grid-row-end: 17;

}

.item-7{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 10;

}

.item-8{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 14;

}

.item-9{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: 12;

}

.item-10{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 10;
    grid-row-end: 12;

}

.item-11{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 12;
    grid-row-end: 14;

}

.item-12{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 12;
    grid-row-end: 14;

}

.item-14{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 7;

}

.item-15{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 14;
    grid-row-end: 17;
    

}

a{

    -moz-text-decoration-color: white;

}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


